.results-container {
  padding: 40px;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.header, .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 8px 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
}

.header {
  background: #1a73e8;
  color: white;
  font-weight: bold;
}

.row {
  background: #e3f2fd;
  margin-top: 6px;
  transition: 0.3s;
}

.row:hover {
  transform: scale(1.02);
  background: #bbdefb;
}